<div class="container mt-4 ">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-user-plus"></i> &nbsp;
                ADD CONTACT PAGE
            </h1>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi reiciendis dicta animi ratione vel
                dolores, possimus dolorem rerum sed aliquid deserunt consequatur laboriosam repellat iste aut id itaque
                amet nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi reiciendis dicta animi
                ratione vel
                dolores, possimus dolorem rerum sed aliquid deserunt consequatur laboriosam repellat iste aut id itaque
                amet nisi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi reiciendis dicta animi
                ratione vel
                dolores, possimus dolorem rerum sed aliquid deserunt consequatur laboriosam repellat iste aut id itaque
                amet nisi!
            </p>

        </div>
    </div>

    <!--<pre>
        {{contact | json}}
    </pre>-->

    <!--add contact form-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded">
                    <div class ="md-2">
                        <input name="Id" [(ngModel)]="contact.id" placeholder="Contact Id" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <input name="Name"[(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <input name="photo"[(ngModel)]="contact.photo" placeholder="Photo url" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <input name="email"[(ngModel)]="contact.email" placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <input name="mobile"[(ngModel)]="contact.mobile" placeholder="Mobile" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <input name="company"[(ngModel)]="contact.company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <input name="title"[(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="md-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disable>Select A Group</option>
                            <option value="{{group.id}}" *ngFor="let group of allgroups">{{group.name}}</option>
                        </select>
                    </div>
                    <div class="md-2">
                        <input (click)="addcontact()" value="Create" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img width="300px" [src]="contact.photo" alt="no image" class="contact image">
                <!--"https://logodix.com/logo/2092955.png"-->
            </div>
        </div>
    </div>
</div>